In [1]:
import pandas as pd
import numpy as np

# Make numpy values easier to read.
np.set_printoptions(precision=3, suppress=True)

import tensorflow as tf
from tensorflow.keras import layers

In [2]:
abalone_train = pd.read_csv(
    "https://storage.googleapis.com/download.tensorflow.org/data/abalone_train.csv",
    names=["Length", "Diameter", "Height", "Whole weight", "Shucked weight",
           "Viscera weight", "Shell weight", "Age"])

abalone_train.head()

,Length,Diameter,Height,Whole weight,Shucked weight,Viscera weight,Shell weight,Age
0,0.435,0.335,0.110,0.334,0.1355,0.0775,0.0965,7
1,0.585,0.450,0.125,0.874,0.3545,0.2075,0.2250,6
2,0.655,0.510,0.160,1.092,0.3960,0.2825,0.3700,14
3,0.545,0.425,0.125,0.768,0.2940,0.1495,0.2600,16
4,0.545,0.420,0.130,0.879,0.3740,0.1695,0.2300,13

In [3]:
abalone_features = abalone_train.copy()
abalone_labels = abalone_features.pop('Age')

In [4]:
normalize = layers.Normalization()

In [5]:
normalize.adapt(abalone_features)

In [6]:
norm_abalone_model = tf.keras.Sequential([
  normalize,
  layers.Dense(64),
  layers.Dense(1)
])

norm_abalone_model.compile(loss = tf.keras.losses.MeanSquaredError(),
                           optimizer = tf.keras.optimizers.Adam())

norm_abalone_model.fit(abalone_features, abalone_labels, epochs=10)

Epoch 1/10
104/104 [==============================] - 1s 2ms/step - loss: 92.9356
Epoch 2/10
104/104 [==============================] - 0s 2ms/step - loss: 54.6002
Epoch 3/10
104/104 [==============================] - 0s 2ms/step - loss: 16.7795
Epoch 4/10
104/104 [==============================] - 0s 2ms/step - loss: 5.7631
Epoch 5/10
104/104 [==============================] - 0s 2ms/step - loss: 4.9950
Epoch 6/10
104/104 [==============================] - 0s 2ms/step - loss: 4.9245
Epoch 7/10
104/104 [==============================] - 0s 2ms/step - loss: 4.9079
Epoch 8/10
104/104 [==============================] - 0s 2ms/step - loss: 4.8802
Epoch 9/10
104/104 [==============================] - 0s 2ms/step - loss: 4.9074
Epoch 10/10
104/104 [==============================] - 0s 2ms/step - loss: 4.8889