In [2]:
import pandas as pd
import numpy as np

# Make numpy values easier to read.
np.set_printoptions(precision=3, suppress=True)

import tensorflow as tf
from tensorflow.keras import layers

In [3]:
abalone_train = pd.read_csv(
    "https://storage.googleapis.com/download.tensorflow.org/data/abalone_train.csv",
    names=["Length", "Diameter", "Height", "Whole weight", "Shucked weight",
           "Viscera weight", "Shell weight", "Age"])

abalone_train.head()

,Length,Diameter,Height,Whole weight,Shucked weight,Viscera weight,Shell weight,Age
0,0.435,0.335,0.110,0.334,0.1355,0.0775,0.0965,7
1,0.585,0.450,0.125,0.874,0.3545,0.2075,0.2250,6
2,0.655,0.510,0.160,1.092,0.3960,0.2825,0.3700,14
3,0.545,0.425,0.125,0.768,0.2940,0.1495,0.2600,16
4,0.545,0.420,0.130,0.879,0.3740,0.1695,0.2300,13

In [4]:
abalone_features = abalone_train.copy()
abalone_labels = abalone_features.pop('Age')

In [5]:
abalone_model = tf.keras.Sequential([
  layers.Dense(64),
  layers.Dense(1)
])

abalone_model.compile(loss = tf.keras.losses.MeanSquaredError(),
                      optimizer = tf.keras.optimizers.Adam())

In [6]:
abalone_model.fit(abalone_features, abalone_labels, epochs=10)

Epoch 1/10
104/104 [==============================] - 1s 2ms/step - loss: 56.3499
Epoch 2/10
104/104 [==============================] - 0s 2ms/step - loss: 11.2499
Epoch 3/10
104/104 [==============================] - 0s 2ms/step - loss: 8.9598
Epoch 4/10
104/104 [==============================] - 0s 2ms/step - loss: 8.3279
Epoch 5/10
104/104 [==============================] - 0s 2ms/step - loss: 7.7602
Epoch 6/10
104/104 [==============================] - 0s 2ms/step - loss: 7.3028
Epoch 7/10
104/104 [==============================] - 0s 2ms/step - loss: 6.9666
Epoch 8/10
104/104 [==============================] - 0s 2ms/step - loss: 6.7349
Epoch 9/10
104/104 [==============================] - 0s 2ms/step - loss: 6.5668
Epoch 10/10
104/104 [==============================] - 0s 2ms/step - loss: 6.4417